extends ./layout.jade

block vars
	- var nav = 'home'

append style
	style.
		h1.jumbo {
			text-align: center;
			margin-bottom: 30px;
		}
		h3 {
			padding-bottom: 5px;
			border-bottom: 1px solid #ddd;
		}
		h4.package {
			margin-bottom: 2px;		
		}
		.description {
			font-size: 80%;
			padding-left: 23px;
			color: #777;
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.info {
			font-size: 80%;
			padding-left: 23px;
			color: #777;
		}
		div.package {
			padding-bottom: 10px;
		}
		div.package:hover {
			background-color: rgb(245, 245, 245);
		}
		.footer {
			margin-top: 30px;
		}
		
block content

	.modal.fade(id='add', tabindex='-1', role='dialog', aria-labelledby='#addLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4.modal-title Add a new package
				.modal-body
					p Please supply the GitHub organization and repository of the package.
					form(id='addForm', method='post')
						.form-group
							input#organization.form-control(type='text', name='organization', placeholder='Organization')
						.form-group
							input#repository.form-control(type='text', name='repository', placeholder='Repository')
					.alert.alert-info 
						p The repository needs to contain premake5-ghp.lua and have at least one published release before it can be added to the index.
						p Your account must have access to install a hook into the repository.
				.modal-footer
					button.btn.btn-primary(id='addSubmit', type='button', data-dismiss='modal') Ok
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel

	.modal.fade(id='addFailed', tabindex='-1', role='dialog', aria-labelledby='addFailedLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
					h4.modal-title(id='addFailedLabel') Unable to add package
				.modal-body
					.alert.alert-danger#addFailedMessage
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Ok

	.container

		.row
			.col-md-12
				h1.jumbo 
					a(href='https://github.com/mversluys/premake-ghp') premake-ghp
					|  : github packages for 
					a(href='https://premake.github.io') premake

		h3 actively used packages
		.row
			each package in popular
				- var url = 'http://github.com/' + package.organization + '/' + package.repository
				.col-sm-4.package
					h4.package
						i.fa.fa-cube.fa-fw 
						a(href='/#{package.organization}/#{package.repository}') #{package.organization}/#{package.repository}
					div.description
						=package.description
					div.info
						span 
							i.fa.fa-eye
							|  #{package.watchers} watchers 
						span
							i.fa.fa-star
							|  #{package.stargazers} stargazers
					div.info
						i.fa.fa-line-chart
						|  used 
						strong #{package.usage}
						|  times in the last month
		h3 recently published packages
		.row
			each package in recent
				- var url = 'http://github.com/' + package.organization + '/' + package.repository
				.col-sm-4.package
					h4.package
						i.fa.fa-cube.fa-fw 
						a(href='/#{package.organization}/#{package.repository}') #{package.organization}/#{package.repository}
					div.description
						=package.description
					div.info
						span 
							i.fa.fa-eye
							|  #{package.watchers} watchers 
						span
							i.fa.fa-star
							|  #{package.stargazers} stargazers
					div.info
						i.fa.fa-tag
						strong  #{package.latest_release} 
						| published 
						strong #{package.updated_fromnow}

		.well.footer
			.row
				.col-sm-3
					if user
						button(type='button', data-toggle='modal', data-target='#add').btn.btn-default add a new package
					else
						| Would you like to contribute a new package? 
						a(href='/login') Sign in to GitHub.

				.col-sm-3
					span(style='font-size: 200%')
						i.fa.fa-cube
						|  #{count}
					span  total packages

block script
	script.
		$(function () {
			$('#addSubmit').click(function (e) {
				var package = $('#addForm input#organization').val() + '/' + $('#addForm input#repository').val();
				$.post('/api/add/' + package).done(function(data) {
					window.location.href = '/' + package;
				}).fail(function (data) {
					$('#addFailedMessage').text(data.responseText);
					$('#addFailed').modal();
				});
			});
		});