extends ./layout.jade

block vars
	- var nav = 'search'


append style
	style.
		.table-nonfluid {
			width: auto !important;
		}
		.description {
			font-size: 80%;
			color: #777;
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.info {
			font-size: 80%;
			color: #777;
		}

block content

	.container
		if error
			.alert.alert-danger 
				=error
		else
			h3 searching for ... 
				code #{query}

			if results.length
				table.table.table-hover.table-condensed
					each result in results
						tr
							td
								i.fa.fa-cube
								| &nbsp;
								a(href='/' + result.organization + '/' + result.repository) #{result.organization}/#{result.repository}
							td
								div #{result.description}
								div.info
									i.fa.fa-star.fa-fw 
									span #{result.stargazers}
									| &emsp;
									i.fa.fa-eye.fa-fw 
									span #{result.watchers}
									| &emsp;
									i.fa.fa-tag.fa-fw
									strong #{result.latest_release} 
									| published 
									strong #{result.updated_fromnow}
			else
				.alert.alert-info Your search ended, and no packages could be found that contain '#{query}' in the organiztion, repository or description of a package.

