extends ./layout.jade

block vars
	- var nav = 'view'

append style
	style.
		div.soft-break {
			margin-top: 5px;
			margin-bottom: 5px;
			border-bottom: 1px solid #ddd;
		}
		div.hard-break {
			padding-top: 15px;
			padding-bottom: 15px;
		}
		p.info {
			padding-left: 10px;
			padding-right: 10px;
		}
		pre.ghp {
			margin-bottom: 30px;
		}

block content

	.container
		if error
			.alert.alert-danger 
				each line in error
					p
						=line
		else
			.row
				.col-md-8
					h2 #{repo.full_name}
					h4 #{repo.description}
					if release
						pre.lang-lua.ghp ghp.import(
							span.hljs-string '#{repo.full_name}'
							| , 
							span.hljs-string '#{release.tag_name}'
							| )
					else
						.soft-break
					if readme
						!=readme.content_html
					else
						.hard-break
						.alert.alert-danger could not find a README in the repository

				.col-md-4.side-panel
					.hard-break
					p
						i.fa.fa-github.fa-fw
						| &nbsp;
						a(href=repo.html_url) #{repo.full_name}
						.soft-break
					if repo.parent
						i.fa.fa-code-fork.fa-fw
						|  forked from 
						a(href=repo.parent.html_url) #{repo.parent.full_name}
						.soft-break
					p
						i.fa.fa-eye.fa-fw 
						| &nbsp;
						a(href=repo.html_url + '/watchers') #{repo.subscribers_count} watchers
						| &nbsp;
						i.fa.fa-star.fa-fw
						| &nbsp;
						a(href=repo.html_url + '/stargazers') #{repo.stargazers_count} stargazers
					.soft-break
					p Language #{repo.language}
					if repo.has_issues
						.soft-break
						p
							a(href=repo.html_url + '/issues') #{repo.open_issues} open issues
					if repo.has_wiki
						.soft-break
						p
							a(href=repo.html_url + '/wiki')
								| wiki documentation 
					.hard-break
					if release
						p
							a(href=release.html_url) #{release.tag_name}
							|  is the latest release
						.soft-break
						p published #{release.published_at_fromnow}
						.soft-break
						p by 
							a(href=release.author.html_url) #{release.author.login}
						.soft-break
						p see all 
							a(href=repo.html_url + '/releases') releases
					else
						.alert.alert-danger there are no published 
							a(href=repo.html_url + '/releases') releases

					.hard-break
					.well
						div usage in the last month
						div#plot-usage-month
							svg(style='height:150px')
					.well
						div usage in the last year
						div#plot-usage-year
							svg(style='height:150px')

block script
	script.

		function plot(id, data) {
			var chart = nv.models.multiBarChart()
				.stacked(true)
				.showControls(false)
				.x(function(d) { return new Date(d.x * 1000); })
				.y(function(d) { return parseInt(d.y); })
				.showLegend(false); 
			chart.margin({ 'left': 20, 'right': 20, 'top': 10, 'bottom': 20 });
			chart.xAxis.tickFormat(function(d) { return d3.time.format('%b %e, %Y')(new Date(d)); })
			chart.yAxis.tickFormat(d3.format('0.0f'));
			d3.select(id).datum(data).call(chart);
			nv.utils.windowResize(chart.update);
		}

		$(function () {
			plot('#plot-usage-month svg', !{JSON.stringify(usage_month)});
			plot('#plot-usage-year svg', !{JSON.stringify(usage_year)});
		});
